<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title>Home Page</title>
  </head>
  <body>
    <h2>URL Shortener</h2>
    <% if (locals.id) { %>
    <p>URL Generated: https://url-shortener-cojk.onrender.com/<%= id %></p>
    <% } %>
    <div class="form_container">
      <label class="enter_ur_url">Enter Your URL Here</label>
      <form method="post" action="/url">
        <input type="text" name="url" placeholder="https://example.com" class="user_url_input" />
        <div class="Generate_btn">
          <button type="submit" class="generate_btn">Generate</button>
        </div>
      </form>
    </div>
    <div class="url_Table">
      <% if (locals.urls) { %>
      <table border="0">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>shortened ID</th>
            <th>Redirect</th>
            <th>TotalClicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url,index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>No URLs found.</p>

      <% } %>
    </div>
  </body>
</html>
